<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
    </head>
    <body>
        <form action="register" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="student_id">Studnent ID:</label>
            <input type="text" id="student_id" name="student_id" required><br><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="emai" required><br><br>

            <label for="year">Year:</label>
            <input type="text" id="year" name="year" required><br><br>

            <button type="submit">Register</button>
        </form>
    </body>
</html>